.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
  }
  
  h1 {
    margin-top: 0;
  }
  
  #score {
    font-weight: bold;
    margin-top: 20px;
  }
  
  #submit {
    margin: 2em;
   
  }
  #options{
    margin: .5em;
  }